.fields_wrapper {
    margin-top: 30px;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    font-family: monospace;
}

.inputs_wrapper {
    display: flex;
}

input {
    max-width: 25px;
    margin: 3px;
}

.c, .l, .r, .b {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.c_desc,
.l_desc,
.r_desc,
.b_desc {
    text-align: center;
}

.get_wrapper,
.draw_wrapper {
    display: flex;
    text-align: start;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.input_content {
    margin-top: 15px;
}

button {
    width: 50%;
    margin-top: 20px;
}