.desc {
    margin: 5px;
    padding: 20px;
}

.desc, 
.desc_text, 
.desc_sub {
    padding: 15px;
    display: flex;
    text-align: start;
    flex-direction: column;
}

.desc {
    max-width: 70%;
    margin: 0 auto;
}

.desc_text-first,
.desc_text-second {
    text-align: center;
}

.desc_sub {
    margin: 20px;
    align-self: center;
}

.content_wrapper {
    display: flex;
    margin: 0 auto;
}

.get_wrapper,
.draw_wrapper {
    width: 50%;
    margin: 5px;
    display: flex;
    text-align: start;
    min-height: 200px;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
}

button {
    width: 50%;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

@media (max-width: 700px) {
    .content_wrapper {
        min-height: 500px;
    }

    .desc {
        max-width: 100%;
        margin: 0 auto;
    }

    .desc_text-first,
    .desc_text-second {
        text-align: start;
    }
}