.content_wrapper {
    display: flex;
}

.get_wrapper,
.draw_wrapper {
    display: flex;
    text-align: start;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

button {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}